mixin video(video)
    div 
         div
            h4
                a(href=`/videos/${video.id}`)=video.title //videoRouter에서 url id 주소로 따라간다 -> watch
            p=video.description
            ul
                each hashtag in video.hashtags
                    li=hashtag
            small=video.createdAt
            hr 
            
            
            
            
<!-- ul
                li #{video.rating}/5 
                li #{video.comments} comments 
                li Posted #{video.createAt}
                li #{video.views} views   


                -->